h1 {
    display: flex;
    font-size: 2.8rem;
    justify-content: center;
    flex: 0 1 50%;
}

p {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}

body {
    background: url(/asset/poke-bowl.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}
/*
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 450px;
    background: rgba(255, 255, 255, 0.8)
}
*/
a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    align-items: center;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: whitesmoke;
    font-size: 1.25em;
}

.page-nav:hover {
    background-color: #aaa;
}

.page-nav.active {
    background-color: #ccc;
}

[data-tab-content] {
    display: none;
}

.show[data-tab-content] {
    display: block;
}
